<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FluentAutomation.SeleniumWebDriver" version="1.0.0.74" />
  <package id="FluentAutomation.WatiN" version="1.0.0.74" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net40" />
  <package id="Selenium.Support" version="2.7.0" />
  <package id="Selenium.WebDriver" version="2.7.0" />
  <package id="WatiN" version="2.1.0" />
</packages>