<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myapp1.Properties.Settings.app_testConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\app_test.mdb"
            providerName="System.Data.OleDb" />
        <add name="myapp1.Properties.Settings.app_testConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\Dispatch\My Documents\app_test.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>